[submodule "nQuant"]
	path = nQuant
	url = https://github.com/krokettenkoal/nQuant-Unity
[submodule "XeEngine.Tools.Public"]
	path = XeEngine.Tools.Public
	url = https://github.com/krokettenkoal/XeEngine.Tools.Unity.Public
[submodule "Ionic.Zlib.Unity"]
	path = Ionic.Zlib.Unity
	url = https://github.com/krokettenkoal/Ionic.Zlib.Unity
