[submodule "Ionic.Zlib.Unity"]
	path = Ionic.Zlib.Unity
	url = https://github.com/krokettenkoal/Ionic.Zlib.Unity
[submodule "nQuant-Unity"]
	path = nQuant-Unity
	url = https://github.com/krokettenkoal/nQuant-Unity
[submodule "XeEngine.Tools.Unity.Public"]
	path = XeEngine.Tools.Unity.Public
	url = https://github.com/krokettenkoal/XeEngine.Tools.Unity.Public
